.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background: url("../img/bg.gif");
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #333232;
}
/***** NAV ******/
nav{
  padding: 10px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0,0,0,.5);
}
nav ul {
  width: 970;
  margin: 0 auto;
}
nav ul li {
  display: inline;
  padding: 10px;
  -webkit-transition: background .2s;
  -moz-transition: background .2s;
  -o-transition: background .2s;
  -ms-transition: background .2s;
  transition: background .2s;
}
nav ul a {
  text-decoration: none;
  color: black;
}
nav ul a li.active {
  background: #999;
  color: white;
}
nav ul a li:hover {
  background: #999;
  color: white;
}
#container {
  width: 960;
  margin: 0 auto;
}
/****** HEADER ******/
header > img {
  float: left;
  margin:30px 30px 30px 0;
}
header > img.shadow {
  position: absolute;
  left: 384px;
  top: 41px;
}
header div#search_bar {
  float: left;
  margin-top: 65px;
  margin-left:50px; 
}
#search_bar input {
  height: 39px;
  width: 275px;
  float: left
}
header div#social_media {
  float: right;
  margin-top: 75px;
}

/******** MAIN *******/

#hero {
  background-color: white;
  height: 400px;
}
#hero-shadow {
  position: absolute;
  top: 205px;
  right: 203px;
}
#hero_img img {
  margin: 13px;
}
#hero_img p {
  position: relative;
  bottom: 90px;
  left: 13px;
  background: rgba(255,255,255,.3);
  color: white;
  display: inline-block;
  font-size: 20px;
  padding: 10px;
}
#pagination {
  position: relative;
  bottom: 77px;
  left: 863px;
}
div.pagination_box {
  height: 20px;
  width: 20px;
  float: left;
  margin-right: 3px; 
  background: rgba(255,255,255,.3);
}
div .page_active {
  background: red;
}

#main_article {
  margin-top: 50px;
  background: white;
  height: 209px;
}
#main_article-shadow {
  position: absolute;
  right: 203px;
  top: 620px;
}
#main_article div h1 {
  position: relative;
  right: 70px;
}
#main_article h3 {
  display: inline-block;
}

h1 {
  margin: 10px 0 0 15px;
  padding: 5px 10px;
  background: red;
  display: inline-block;
  font-size: 16px;
  font-weight: normal;
  color: white;
}
h2 {
  display: inline-block;
  font-size: 28px;
  font-weight: bold;
  margin: 5px 0 0 25px
}
h3 {
  display: inline-block;
  font-size: 20px;
  font-weight: lighter;
  margin: 5px 15px 0 5px;
  color: #666;
}
 #main_article  p {
  margin: 5px 25px 10px 25px;
  padding-bottom:10px;
}
#main_box {
  background: white;
  margin-top: 30px;
}
#infographic {
  float: right;
  margin: 20px;
}
#infographic-shadow {
  position: absolute;
  right: 251px;
  top: 884px;
}
#main_box p {
  margin: 5px 25px 10px 25px;
  padding-bottom:10px;
}
#small_article h2 , h3 {
  display: block;
}
#small_article h3 {
  margin-left: 25px;
}
#left_half {
  float: left;
  width: 68%;
}
.left_article h2 {
  margin-top: 20px;
  margin-left:0;
}
.left_article img {
  float: left;
  margin: 20px 20px 0 20px;
}
.pull-left {
  float: left;
}
#right_half {
  float: right;
  width: 32%;
}
#pop_articles {
  list-style: none;
  line-height: 30px;
}
footer {
  margin: 50px 0 30px 0;
  text-align: center;
}
footer #ad_banner {
  margin: 30px;
  background: #ccc;
  padding: 5px;
  width: 873px;
}
